.projects>img {
    width: 400px;
    height: 190px;
}

.projects {
    margin: 15px;
    width: 400px;
    height: 190px;
    transition: transform 100ms ease-in;
    text-align: center;
}

.projects:hover {
    color: white;
    background-color: #f64c08;
    transform: scale(1.05);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
}

.project__content {
    padding: 10px;
}

.project__content>h4 {
    padding-bottom: 2px;
}

.project__content>p {
    font-size: 15px;
}